Repository tektoncd/catalog, pull requests merged in 2023-08, with the labels that each got.

#1166 feat: add Camel K run task
  task/kamel-run/0.1/README.md
  task/kamel-run/0.1/kamel-run.yaml
  task/kamel-run/0.1/samples/run-external-build.yaml
  task/kamel-run/0.1/samples/run-operator-build.yaml
  task/kamel-run/0.1/support/camel-k-tekton.yaml
  task/kamel-run/0.1/tests/pre-apply-task-hook.sh
  task/kamel-run/0.1/tests/resources.yaml
  task/kamel-run/0.1/tests/run.yaml
  task/kamel-run/OWNERS
Labels: kind/feature, size/L, lgtm, approved, ok-to-test

#1118 1117 fix scopeo copy
  task/skopeo-copy/0.3/README.md
  task/skopeo-copy/0.3/samples/docker-secret.yaml
  task/skopeo-copy/0.3/samples/quay-secret.yaml
  task/skopeo-copy/0.3/samples/run.yaml
  task/skopeo-copy/0.3/samples/serviceaccount.yaml
  task/skopeo-copy/0.3/skopeo-copy.yaml
  task/skopeo-copy/0.3/tests/pre-apply-task-hook.sh
  task/skopeo-copy/0.3/tests/run.yaml
Labels: size/L, lgtm, approved, ok-to-test

#1190 Fix skopeo image reference
  task/skopeo-copy/0.1/skopeo-copy.yaml
  task/skopeo-copy/0.2/skopeo-copy.yaml
  task/skopeo-copy/0.3/skopeo-copy.yaml
Labels: lgtm, approved, size/XS
