Repository tektoncd/catalog, pull requests merged in 2024-08, with the labels that each got.

#1287 Add multi-arch parm
  task/skopeo-copy/0.4/README.md
  task/skopeo-copy/0.4/samples/docker-secret.yaml
  task/skopeo-copy/0.4/samples/quay-secret.yaml
  task/skopeo-copy/0.4/samples/run.yaml
  task/skopeo-copy/0.4/samples/serviceaccount.yaml
  task/skopeo-copy/0.4/skopeo-copy.yaml
  task/skopeo-copy/0.4/tests/pre-apply-task-hook.sh
  task/skopeo-copy/0.4/tests/run.yaml
Labels: kind/feature, size/L, lgtm, approved, ok-to-test

#1292 added 0.2 of conftest
  task/conftest/0.2/README.md
  task/conftest/0.2/conftest.yaml
Labels: kind/feature, size/L, lgtm, approved, ok-to-test

#1286 Fix for Issue 1285-: SendMail task was failing to execute successfully
  task/sendmail/0.2/README.md
  task/sendmail/0.2/sendmail.yaml
Labels: size/L, lgtm, approved

#1297 Fix goreleaser task
  task/goreleaser/0.2/goreleaser.yaml
Labels: lgtm, approved, size/XS
